<%- include('../partials/header.ejs') %>
<div
  class="container-fluid"
  style="
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)),
      url(/public/images/order-more-info-bg.png);
  "
>
  <div class="row">
    <nav class="col-md-2"></nav>
    <main class="col-md-10 ps-4 pt-5 mt-3">
      <div class="card shadow" style="height: 35rem">
        <div class="card-body m-5">
          <div class="d-flex justify-content-between mb-2">
            <span class="card-title h3">Add new Banner</span>
            <a href="/admin/banner" class="btn btn-close"></a>
          </div>
          <form
            action="/admin/banner/add"
            method="post"
            enctype="multipart/form-data"
          >
            <label for="">Banner Heading</label>
            <input
              type="text"
              name="heading"
              class="form-control mb-4"
              required
            />

            <label for="">Description</label>
            <input type="text" name="description" class="form-control mb-4" />

            <label for="">Extra details</label>
            <input
              type="text"
              name="extra_details"
              class="form-control mb-4"
              required
            />

            <label for="">Image</label>
            <input
              type="file"
              name="imgUrl"
              accept="image/png, image/jpeg image/avif"
              class="form-control mb-4"
            />
            <!-- Button trigger modal -->
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Submit
            </button>

            <!-- Modal -->
            <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">Add new Banner</div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                    <button type="submit" class="btn btn-success">
                      Save changes
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
</div>

<%- include('../partials/footer.ejs') %>
