<%- include('../partials/header.ejs') %>

<main class="col-md-9 ms-sm-auto col-lg-12 px-md-4">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h2">Add new product</h1>
    <a href="/admin/sub_categories"
      ><button type="button" class="btn btn-sm btn-outline-danger">
        Cancel
      </button></a
    >
  </div>
  <div class="container">
    <form action="/admin/sub_categories/add_sub_category" method="post">
      <label for="">Name</label>
      <input type="text" name="name" class="form-control mb-4" required />

      <label for="">Description</label>
      <input type="text" name="description" class="form-control mb-5" />

      <select
        name="main_category"
        class="form-select"
        aria-label="Default select example"
      >
        <% main_categories.forEach(function(main_category){ %>
        <option value="<%= main_category.name %>">
          <%= main_category.name %>
        </option>
        <% }) %>
      </select>

      <button type="submit" class="btn btn-success mt-5">Submit</button>
    </form>
  </div>
</main>

<%- include('../partials/footer.ejs') %>
