<nav class="navbar navbar-expand-lg navbar-dark mx-2 mt-2 rounded myColor">
  <div class="container-fluid">
    <a href="/"
      ><img
        class="navbar-brand"
        src="/public/images/logo-no-background.svg"
        alt="tRavel-logo"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="w-md-50 input-group mt-md-0 mt-3">
        <input
          class="form-control"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-light" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </form>
      <ul class="navbar-nav mb-lg-0 ms-auto">
        <li class="nav-item text-center me-md-5">
          <a class="nav-link myNavLink" href="/"
            ><i id="i" class="bi bi-house"></i><br />Home</a
          >
        </li>
        <!-- <li class="nav-item text-center me-5"> -->
        <% if(login) { %>
        <li class="nav-item text-center me-md-5">
          <a class="nav-link myNavLink" href="/user/account"
            ><i id="i" class="bi bi-person"></i><br />Account</a
          >
        </li>
        <% } else { %>
        <li class="nav-item text-center me-md-5">
          <a class="nav-link myNavLink text-warning fw-bold" href="/user/login"
            ><i id="i" class="bi bi-person"></i><br />Login</a
          >
        </li>
        <% } %>
        <!-- </li> -->
        <li class="nav-item text-center me-md-5">
          <a class="nav-link myNavLink" aria-current="page" href="/wishlist"
            ><i class="bi bi-heart"></i><br /><span class="position-relative"
              >Wishlist
              <!-- <span
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
              >
                ?
                <span class="visually-hidden">unread messages</span> -->
              </span>
            </span></a
          >
        </li>
        <li class="nav-item text-center me-md-5">
          <a class="nav-link myNavLink" aria-current="page" href="/my_orders"
            ><i class="bi bi-bag"></i><br />Orders</a
          >
        </li>
        <li class="nav-item text-center me-md-5">
          <a class="nav-link myNavLink" aria-current="page" href="/cart"
            ><i class="bi bi-cart2"></i><br />Cart</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<script defer src="/public/style/jQuery.js"></script>
<script
  defer
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"
></script>
