<nav class="navbar navbar-expand-lg navbar-dark mx-2 mt-2 rounded myNavbar">
  <div class="container-fluid">
    <a href="#"
      ><img
        class="navbar-brand"
        src="/public/images/logo-no-background.svg"
        alt="tRavel-logo"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex w-50 input-group">
        <input
          class="form-control"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-light" type="submit"><i class="bi bi-search"></i></button>
      </form>
      <ul class="navbar-nav mb-lg-0 ms-auto pe-5">
        <li class="nav-item">
          <a class="nav-link active pe-5" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active pe-5" aria-current="page" href="#">Wishlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active pe-5" aria-current="page" href="#">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active pe-5" aria-current="page" href="#">Cart</a>
        </li>
        <li class="nav-item">
          <% if(login) { %>
          <a class="nav-link active pe-5" aria-current="page" href="/user_account"><%= username %></a>
          <% } else { %>
            <a class="nav-link active" aria-current="page" href="/user_login">Login</a>
          <% } %>
        </li>
      </ul>
    </div>
  </div>
</nav>
