<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        class="navbar-brand"
        src="/public/images/logo-no-background.svg"
        alt="tRavel-logo"
      />
    </a>
  </div>
</nav>
