<nav class="navbar myColor shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img
        class="navbar-brand"
        src="/public/images/logo-no-background.svg"
        alt="tRavel-logo"
      />
    </a>
    <a href="/" class="btn btn-close me-3"></a>
  </div>
</nav>
