.myCard {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.myCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.myColor {
  background: #0e5255;
}
.half_trapezoid {
  border-bottom: 30px solid #ffea28;
  border-right: 15px solid transparent;
  height: 0;
  width: 100px;
}
.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
}
.navbar-brand {
  width: 90px;
}
.navbar-brand-login {
  width: 200px;
}
.login_img {
  width: 639px;
  height: 92vh;
  left: 0px;
  top: 110px;
  background: #d9d9d9;
}
.login_img h2 {
  display: flex;
  align-items: center;
  font-family: "Itim", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;

  color: #3d4344;
}
.rectangle {
  width: 300px;
  height: 70px;
  background-color: #ffffff;
  border-radius: 7px;
  box-shadow: 1px 1px 3px #dbdbdb;
  margin-bottom: 25px;
  margin-top: 15px;
}
.selected_rectangle {
  width: 300px;
  height: 70px;
  background-color: #f3f3f3;
  border-radius: 7px;
  box-shadow: inset 1px 1px 3px #c4c3c3;
  margin-bottom: 25px;
  margin-top: 15px;
}
.admin_rectangle {
  box-shadow: inset 3px 3px 3px;
  width: 216px;
  height: 48px;
  background-color: #ffffff;
  border-radius: 7px 0px 0px 7px;
}

.iti__flag {
  background-image: url("/public/images/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("/public/images/flags@2x.png");
  }
}
.hide {
  display: none;
}
.error {
  color: red;
  outline: 1px solid red;
}
.success {
  color: green;
}
