<%- include('../partials/header.ejs') %> <%- include('../partials/navbar.ejs')
%>
<div class="container-fluid">
  <div class="row">
    
  </div>
</div>

<%- include('../partials/footer_infos.ejs') %> <%-
include('../partials/footer.ejs') %>
