<%- include('../partials/header.ejs') %> <%-
include('../partials/order_navbar.ejs') %>

<div class="text-center px-5 mx-5">
  <h3>ORDER PLACED</h3>
  <img src="/public/images/order_confirm.gif" alt="gif" style="width: 41rem" />
  <a href="/" class="btn btn-lg btn-success w-50">Ok</a>
</div>

<%- include('../partials/footer.ejs') %>
