<%- include('../partials/header.ejs') %>

    <form method="post" action="/logout">
        <button class="text-decoration-none btn btn-warning">Logout</button>
    </form>

    <%- include('../partials/footer.ejs') %>